/*DASHBOARD RELATED */
canvas {
    max-height: 500px;
}
.pie {
    max-height:none;
}
.carouselHeight {
    height:200px;
}
.carouselContent div img {
    min-width:150px;
    height:100%;
    margin:0 auto;
}
.carouselContent div {
    height:200px;
    justify-content:center;
}
.darkColour {
    color:#000;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* Wallpaper  */
body {
    background-color:#02162E;
    
}
#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    z-index: -9999;
    background-color: rgba(201, 206, 213,1) !important;

}
#thumbnail {
    top: 0; 
    left: 0; 
    align-self: center;
}


/* Modified button classes */
.btn {
    border-radius: 30px;
    min-width:6rem;
    color:white;
}
.cta {
    border-radius:30px;
    background-color: white !important;
    font-weight: bold;
    color:#01B78B !important;
    border:1px solid #01B78B;
}
.cta:hover {
    background-color: #01B78B!important;
    color:white!important;
}
.cta-inverted {
    border-radius:30px;
    background-color: #01B78B !important;
    font-weight: bold;
    color:white;
    border:1px solid #01B78B;

}
.cta-inverted:hover {
    background-color: white!important;
    color:#01B78B!important;
    border:1px solid #01B78B;
}
.ebay-btn {
    background-color: #01B78B;
    border-radius: 30px;
    color:white !important;
    border:1px solid #01B78B;
    font-weight: bold;
}
.ebay-btn:hover {
    background-color: #019c76;
}
.ebay-btn-outline {
    border-radius: 30px;
    color:white !important;
    border:1px solid #01B78B;
    font-weight: bold;
}
.ebay-btn-outline:hover {
    background-color: #01B78B;
}




.ebay-color {
    color:#01B78B!important;
}
#mainSection p {
    font-size: 20px;
}
footer {
    background-color:rgba(2,22,46,0.8);
}
body, wrapper {
    min-height:84vh;
 }
 footer img {
     max-width: 100px;
 }
 .card {
     background-color:rgba(255,255,255,0.5);
 }
 .content {
    border-radius: 0px;
    background-color: rgba(255,255,255,1);
 }
 .coll:not(:first-child),.coll:not(:last-child) {
    padding-right:5px;
    padding-left:5px;
  }
#leftAuthSection {
    border-right: 1px solid #8c8c8c;

}
.border-radius-30 {
    border-radius: 30px;
}
.border-radius-5 {
    border-radius: 5px;
}
.no-outline {
    outline:0px !important;
    -webkit-appearance:none;
    
}
.invalid-feedback {
    font-weight:bold;
}

/* Custom Colours */
.ebay-color-red {
    color:#fc5054;
}
.ebay-color-dblue {
    color:#19486B;
}
.ebay-color-blue {
    color:#458E91!important;
}
.ebay-color-gray {
    color:#9e9e9e;
}
#accOptions:hover {
    background-color: #f3f3f3;
}
.search-element{
    border-radius:30px;
    border:1px solid #dfdfdf;
    background-color: #f0f0f0;
    font-weight: normal;
    color:#959595;
}
.search-element-blue{
    background-color: #458E91;
    color:#ffffff !important;
}
.search-element-red{
    background-color: #19486B;
    color:#ffffff !important;
}
.element-dred{
    background-color: #fc5054;
    color:#ffffff !important;
    border:0;
}
.element-dred:hover {
    background-color: #ce4447;
    color:#ffffff !important;
    border:0;
}
.search-element-dark{
    background-color: #cccccc;
    color:#686868 !important;
}
.search-element-outlined{
    background-color: #018967;
}
.list-inline-item{
    margin:0;
    margin-bottom: 0.3rem;
}
.list-inline-item:not(:last-child) {
    margin-right: .01rem;
}
.cta-red {
    border-radius:30px;
    background-color: white !important;
    font-weight: bold;
    color:#ce4447 !important;
    border:1px solid #ce4447;
}
.cta-red:hover {
    background-color: #ce4447!important;
    color:white!important;
}
.ebay-number{
    font-size: 2.5rem;
    font-weight: 550;

}

.secondary-text {
    font-size: 0.8rem;
}
.period-switcher-btn{
    background-color: #458E91;
}
.period-switcher-btn:hover{
    background-color: #3c7a7d;
}
.blue-btn{
    background-color: #458E91;
}
.blue-btn:hover{
    background-color: #3c7a7d;
    color:white;
}
.chosen {
    background-color: #3c7a7d;
}

/*  Typography  */
@media (max-width: 575.98px) { 
    html {
        font-size: 0.7rem;
      }
 }


@media (min-width: 576px) and (max-width: 767.98px) { 
    html {
        font-size: 0.7rem;
      }
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    html {
        font-size: 0.85rem;
      }
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    html {
        font-size: 1rem;
      }
 }


@media (min-width: 1200px) { 
    html {
        font-size: 1rem;
      }
 }