/*DASHBOARD RELATED */
canvas {
    max-height: 500px;
}
.pie {
    max-height:none;
}
.carouselHeight {
    height:200px;
}
.carouselContent div img {
    min-width:150px;
    height:100%;
    margin:0 auto;
}
.carouselContent div {
    height:200px;
    justify-content:center;
}
.darkColour {
    color:#000;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


body {
    background-color:#02162E;
}
#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
nav .btn {
    border-radius: 30px;
    min-width:6rem;
    color:#e7e7e7 !important;
}
.ebay-color {
    color:#01B78B!important;
}
.cta {
    border-radius:30px;
    background-color: white !important;
    font-weight: bold;
    color:#01B78B;

}
.cta:hover {
    background-color: #01B78B!important;
    color:white!important;
}
.cta-inverted {
    border-radius:30px;
    background-color: #01B78B !important;
    font-weight: bold;
    color:white;
    border:1px solid #01B78B;

}
.cta-inverted:hover {
    background-color: white!important;
    color:#01B78B!important;
    border:1px solid #01B78B;
}
#mainSection p {
    font-size: 20px;
}
footer {
    background-color:rgba(2,22,46,0.8);
}
body, wrapper {
    min-height:84vh;
 }
 footer img {
     max-width: 100px;
 }
 .card {
     background-color:rgba(255,255,255,0.5);
 }
 #dashboard {
     
 }
 .content {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.7);
 }
 .col:not(:first-child),.col:not(:last-child) {
    padding-right:5px;
    padding-left:5px;
  }
#leftAuthSection {
    border-right: 1px solid #8c8c8c;

}
.border-radius-30 {
    border-radius: 30px;
}
.border-radius-5 {
    border-radius: 5px;
}
.no-outline {
    outline:0px !important;
    -webkit-appearance:none;
    border:1px solid #8c8c8c;
}
.invalid-feedback {
    font-weight:bold;
}
.ebay-btn {
    background-color: #01B78B;
    border-radius: 30px;
    color:white;
    border:1px solid #01B78B;
    font-weight: bold;
}
.ebay-btn:hover {
    background-color: #019c76;
}
.ebay-color-red {
    color:#b70116;
}
.ebay-color-dblue {
    color:#02162E;
}
.ebay-color-blue {
    color:#018967!important;
}